*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* common */
img{
    width: 100%;
    display: inline-block;
}
.container-big{
    width: 80%;
    margin: 0 auto;
}
.container-small{
    width: 70%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
li{
    list-style-type: none;
}
.btn{
    background-color: #0061ff;
    color: white;
    padding: 5px 17px;
}

/* header */
.header{
    width: 100%;
    height: 65px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    color: black;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 50px;
}
.logo{
    width: 115px;
    margin-right: 12px;
}
header a{
    text-decoration: none;
    color: inherit;
    padding: 0 20px;
    font-size: 14px;
}
.inizia{
    margin-left: 12px;
    font-size: 12px;
}

/* main */
.jumbotron{
    background-color: #b4d0e7;
    margin-top: 65px;
    justify-content: space-between;
}
.columns{
    position: relative;
}
h1{
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 50px;
}
.col-jumbo-left{
    width: 40%;
    padding-right: 70px;
}
.bottone{
    margin-top: 30px;
    margin-bottom: 15px;
}
.arrow{ 
    padding-top: 35px;
    font-size: 30px;
    margin-bottom: 80px;
}
.img-jumbo{
    position: absolute;
   

}


