*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* common */
img{
    width: 100%;
    display: inline-block;
}
.container-big{
    width: 80%;
    margin: 0 auto;
}
.container-small{
    width: 70%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
li{
    list-style-type: none;
}
.btn{
    background-color: #0061ff;
    color: white;
}
section{
    margin-bottom: 140px;
}
.cerchio{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    display: inline-block;
    margin-bottom: 2px;
}
hr{
    margin-top: 70px;
    margin-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 80px;
    border: 0;
    height: 1px;
}

/* header */
.header{
    width: 100%;
    height: 65px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    color: black;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 50px;
    background-color: white;
}
.logo{
    width: 115px;
    margin-right: 12px;
}
header a{
    text-decoration: none;
    color: inherit;
    padding: 0 20px;
    font-size: 14px;
}
.inizia{
    margin-left: 12px;
    font-size: 12px;
    padding: 7px 17px;
}

/* MAIN */

/* jumbotron */
.jumbotron{
    background-color: #b4d0e7;
    margin-top: 65px;
    justify-content: space-between;
}
.columns{
    position: relative;
}
h1{
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 65px;
}
.col-jumbo-left{
    width: 35%;
    padding-right: 70px;
}
.bottone-jumbo{
    margin-top: 30px;
    margin-bottom: 15px;
}
.bottone-jumbo .btn{
    font-size: 14px;
    text-decoration: none;
    padding: 7px 17px;
}
.annulla{
    font-size: 13px;
}
.arrow{ 
    padding-top: 35px;
    font-size: 35px;
    margin-bottom: 80px;
}
.img-jumbo{
    position: absolute;
}

/* abbonamenti */
/* titolo e fatturazioni */
h2{
    margin-bottom: 50px;
}
.fatturazioni{
    font-size: 14px;
    margin-bottom: 30px;
}
.pieno{
    border: 4px solid #0061ff;
}
.vuoto{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.fatturazioni span{
    vertical-align: middle;
}
.mensile{
    margin-right: 12px;
}

/* colonne abbonamenti */
.abbonamenti{
    justify-content: space-between;
}
.col-abbonamenti{
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 30%;
    padding-bottom: 80px;
}
.categoria{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 7px 0;
    font-size: 14px;
}
.inside-column{
    padding: 30px;
    font-size: 12px;
}
h3{
    font-size: 20px;
    margin-bottom: 18px;
}
.price{
    font-weight: bold;
    margin-bottom: 7px;
}
.tempo{
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}
.quantità, .spazio{
    margin-bottom: 17px;
}
.funzioni{
    margin-bottom: 50px;
}
.inside-column .btn-piano{
    text-align: center;
    margin-bottom: 30px;
}
.btn-piano{
    width: 100%;
    background-color: #0061ff;
    padding: 7px 0;
}
.btn-piano .btn{
    text-decoration: none;
}
.acquista a {
    color: #0061ff;
}
.inside-column hr{
    background-color: rgba(0, 0, 0, 0.2);
    width: 40px;
    margin-top: 25px;
}
h5{
    font-size: 13px;
    margin-bottom: 20px;
}
li{
    margin-bottom: 18px;
}
li span{
    color: #0061ff;
}

/* enterprise */
.enterprise{
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.flex-content{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.button-contatti .btn{
    font-size: 13px;
    text-decoration: none;
    padding: 6px 50px;
}
.text-left{
    width: 70%;
}
.contattaci{
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 30px;
}
.text-left p{
    font-size: 12px;
}

/* partner */
.partner img{
    width: 55%;
}

.text-right{
    padding: 30px 45px;
}
.text-right p{
    line-height: 25px;
    padding-bottom: 25px;
    font-size: 14px;
}
.text-right a{
    border: 1px solid black;
    padding: 7px 17px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* dropbox businness */
.wrap{
    flex-wrap: wrap;
    justify-content: space-between;
}
.dropbox-businness .col{
    width: calc((100% / 3) - 30px );
    padding-bottom: 70px;
}
.col h3{
    padding-top: 5px;
}
.col p{
    font-size: 13px;
}
.dropbox-businness{
    margin-bottom: 60px;
}

/* affiliati */
.affiliati{
    margin-bottom: 0;
}
.affiliati h2{
    margin-bottom: 25px;
}
.affiliati a{
    color: #0061ff;
    font-size: 13px;
}
.margin{
    margin-top: 40px;
}
.grey{
    background-color: whitesmoke;
    padding: 50px;
    padding-bottom: 100px;
    width: 130%;
}
.grey hr{
    margin: 25px 0;
    width: 40px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}
.grey img{
    width: 130px;
    display: block;
}
.grey p{
    font-size: 13px;
}
.autore{
    padding-top: 50px;
    font-size: 13px;
}
/* immagini di affiliati */
.col-img{
    width: 50%;
    height: 50%;
    padding-left: 50px;
    padding-right: 50px;
}
.images img{
    filter: invert(1);
}
.des{
    background-color: #a2d39b;
    border: 8px solid #cbe7c8;
    padding-top: 75px;
}
.asu{
    background-color: #62082b;
    padding-top: 55px;
}
.uf{
    background-color: #0094ce;
    padding-top: 85px;
}
.topps{
    background-color: #fe1c1c;
    padding-top: 65px;
}
.wbr{
    background-color: #d5011f;
    padding-top: 75px;
}
.hc{
    background-color: #b4d0e7;
    padding-top: 90px;
}
.lp{
    background-color: #0e2481;
    padding-top: 68px;
}
.cc{
    background-color: #ffd82f;
    padding-top: 60px;
}

/* prova-gratuita */
.prova-gratuita{
    background-color: #b4d0e7;
    padding: 80px 0;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.flex-space-between h2{
    color: #62082b;
    font-size: 32px;
}
.flex-space-between a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 6px 60px;
    font-size: 14px;
}
.flex-space-between div{
    margin-top: 10px;
}

/* faq */
.domanda{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 25px 0;
}
.domanda:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.domanda h4{
    font-size: 14px;
}
.domanda span{
    padding-right: 25px;
}

/* FOOTER */
footer{
    background-color: black;
    color: white;
    padding-top: 80px;
    padding-bottom: 30px;
}
/* footer top */
.col-footer h3{
    font-size: 18px;
}
.col-footer a{
    background-color: inherit;
    color: inherit;
    font-size: 13px;
    padding: 0;
}
.col-footer li{
    margin: 0;
    padding: 2px 0;
}
/* footer bottom */
.language span{
    font-size: 11px;
    color:  rgba(255, 255, 255, 0.4);
}


